@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --background-rgb: #E9B3C0;
    --text-colour: #86b976;
}
  
body {
    color: var(--text-colour);
    background-color: var(--background-rgb);
}
  